# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
lvrjs/Release/
lvrjs/lvrjs/Release/lvrjs.tlog/CL.command.1.tlog
lvrjs/lvrjs/Release/
lvrjs/Debug/
lvrjs/.vs/
lvrjs/lvrjs/Debug/lvrjs.tlog/link.12744.delete.1.tlog
lvrjs/lvrjs/Debug/
lvrjs/lvrjs tester/Debug/
